.itemCart{
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 50px 0 10px 0;
}

.itemCart img{
    width: 200px;
    margin-right: 1rem;
}

.totalCart{
    max-width: 1000px;
    margin: 2rem auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.buttonsCart{
    max-width: 1000px;
    margin: 1rem auto 3.3rem auto;
    padding: 9px 0 10px 0;
}

.finalizar{
    margin-right: 10px;
}